/* CSS Document */

.getstarted {float: left; font-size:5em; width:100%; line-height: 60px}

.h2header {font-size:2.5em}
.mobilelogo {display:none;}

.homebackground {height:380px}

.burger-check {display:none;}
    #list li {
display: inline;
margin: 10px;
text-align: center;
   }

#list a {
text-decoration: none;
color: green;
}

#list {
background-color: black;
width:  300px;
height: 25px;
border-radius: 5px;
}

#list a:active {
    color: blue;
}

.about {
word-wrap: break-word;
	font-size: 1.5em;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
	color: #4CB4BD;
}

img {
	padding: 0px;
}

.aboutcontent {
	width: 100%;
	align-content: center;
}

.testimonials {
	width:80%;
	margin-left: 10%;
	margin-right: auto;
	float: left;
	
}

.faqheader {
	font-family: 'Amatic SC', cursive;
	font-size: 2.5em;
	color: #4CB4BD;
	padding-top: 5%;
}

.faqcontent {
	padding-left: 25%;
	padding-right: 25%;
}

.faqbullet {
	color:#97C65A;
}

.backtolist {
	text-align: center;
}

.headercontent{
	width:75%;
	padding-left:10%;
	padding-right:auto;
}

.toplogo {
	float:left;
	padding:1% 0% 0% 15%
}

.homebanner {
	width: 100%;
	align-content:center;
}

.whoarewetitle {
	font-family: 'Amatic SC', cursive;
	color: #4CB4BD;
	text-align: center;
	margin: auto 5px;
	width:40%;
	font-size: 10em; padding-right:2%; font-weight: 700; letter-spacing: 13px;
}

.testimonialtitle {
	font-size:800%;
	float: left;
	color:#4CB4BD;
	height:70px;
	padding-top:5%;
	font-weight: 700;
	letter-spacing: 9px;
}
.fullwidth {width:100%; text-align: center;}

.center{width: 100%; align-content: center;}

.whoarewelogo{float:left;width:50%;align-content: left;}

.styleprofilebutton{display: inline; padding-top:1%;}

.funfont {
	font-family: 'Amatic SC', cursive;

}

.whoarewe div.sansfont {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 35px;
	
}
.fifty {
	width: 50%;
}

.floater {
	float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}
.parallax { 
    background-image: url( images/test.jpg);
    min-height: 400px;
	min-width:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

	.background-image .parallax {
		min-width: 100%;
	}

/* flexboxes */
.box {
display:inline-block;
	width:100%;
	height:100%;
}


.parallax div.a {
	order:1;
	flex: 0 1 auto;
	align-self: auto;
	min-width:0;
	min-height:auto;
	font-family: 'Amatic SC', cursive;
	font-size: 1000%;
	color: #97C65A;
	font-weight: bold;
	letter-spacing: 0.1em;
	flex-shrink: 0;
}

.box div.a {
	float:left;
	width:31%;
	position:relative;
	height: 100%;
	margin: 0 10px 0 10px;

}

.box div.b {
float:left;
	width:31%;
	font-family: 'Amatic SC', cursive;
	position: relative;
	font-size: 1.8em;
	line-height: 1.2;
	padding: 0% 0% 0% 0%;
	height: 100%;
	margin: 0 10px 0 10px;
}

.box div.c {
	float:left;
	width:31%;
	position: relative;
	height: 100%;
	margin: 0 10px 0 10px;
}

div.a img {
	padding-top: 13%;
	
}

div.b h1 {
	padding: 5%;
}

div.c img {
	padding: 0%;
	bottom: 0;
	left:0;
	position:absolute;
	width: 100%;
	align-content: left;
	overflow: hidden;
}

.homecontainer {width:70%; margin:auto; height:360px;}

.homeh2 div.h2 {
	font-family: 'Amatic SC', cursive;
}

.whoarewe {
	text-align: center;
	font-size: 2em;
	padding-bottom:5%
}

.formbgimage {background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/boybg.jpg);
  background-size: cover;
  width: 100%;
  height: 1000px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;}

.steptop { text-align: center; display:inline; color:white; font-size: 3em; line-height: 3; float:left;}

.hrborder {float:left;}

.formcontainer {
	float:left;
}
.boyformtitle {color:rgba(151, 198, 90, 1);}
.formtitle {text-align: center; font-size:6em; position:absolute; top:50%; left:50%; transform: translate(-50%, -500%); font-weight: 600;}

.formwhitebg {  border-radius: 25px; width:1200px; height:500px; background-color: white; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)}

.boyname {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);width: 50%;}

.boyname input.boysage, input.boysmonth{
	width: 25%
}

.boyname input.boysname { width:50%; }

.centertext {text-align: center}

.imagegrid {
	padding-bottom: 5%;
	width: 100%;
	height: auto;
}

.green {
	color:#97C65A;
}

.fiftyt{
	width:45%;
	float:left;
	padding:2.5%;
	line-height: 25px;
	font-weight: 700;
}

.rotateimage {
	-ms-transform: rotate(-22deg); /* IE 9 */
    -webkit-transform: rotate(-22deg); /* Chrome, Safari, Opera */
    transform: rotate(-22deg);
}

.boycircle { border-radius: 100px; background-color:grey; height: 150px; position:absolute; top:25%; left:65%; transform: translate(-50%, -50%);width: 25%;
-webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
	cursor: pointer;}
.girlcircle { border-radius: 100px; background-color:grey;  height: 150px; position:absolute; top:25%; left:35%; transform: translate(-50%, -50%);width: 25%; -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
	cursor: pointer;
}
.girlcircle:hover {background-color:rgba(247, 171, 222, 1); transition: .5s ease;}
.boycircle:hover {background-color:  #4CB4BD; transition: .5s ease;}

.toppad{float:right; padding-top:3%; padding-right:0%}

.wawtext {width:70%}
	.wawangel {width:30%}


			html, #page { padding:0; margin:0;}
			body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
			h1, h3, h4, h5, h6 {color:#4CB4BD;}
			h2 {color:white;}
			#page { background:#fff;}
			#header, #footer, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
			/* Logo */
			#logo { padding:0; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkred; text-decoration:none;}
			#logo h1 span { color:#4CB4BD;}

			/* Header */
			#header { background:#fff; }
			.header-inner { margin:0 auto; padding:0; width:95%;}
			
			/* Feature */
			.feature { background:red;padding:18px;}
			.feature-inner { margin:auto;width:970px; }
			.feature-inner h1 {color:top-nav#4CB4BD;font-size:32px;}
			
			/* Menu */
			.top-nav { margin:0 auto; padding:0px 15% 2% 0; height:10px; float:right; font-size:1.1em; font-weight: 300;}
			.top-nav ul { list-style:none; padding:0; height:10px; float:right;}
			.top-nav ul li { margin:0; padding:0 0px 0px 0px; float:left;}
			.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:grey; text-decoration:none;}
			.top-nav ul li.active a, .top-nav ul li a:hover { color:#4CB4BD;}
			
			/* Content */
			#content-inner { margin:0 auto; padding:10px 0; width:100%;background:#fff;}
			#content #contentbar { margin:0; padding:0; float:right; width:760px;}
			#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
			#content #sidebar { padding:0; float:left; width:200px;}
			#content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
			#content #sidebar .widget h3 a { text-decoration:none;}
			#content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
			#content #sidebar .widget ul li { margin:0;}
			#content #sidebar .widget ul li { padding:4px 0; width:185px;}
			#content #sidebar .widget ul li a { color:red; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
			#content #sidebar .widget ul li a:hover { color:#f8dbdb; font-weight:bold; text-decoration:none;}
			
			/* Footerblurb */
			#footerblurb { background:#f8dbdb;color:red;}
			#footerblurb-inner { margin:0 auto; width:922px; padding:24px;}
			#footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}
			
			/* Footer */
			#footer { background:#fff;}
			#footer-inner { margin:auto; text-align:center; padding-top:60px; width:100%;}
			#footer a {color:red;text-decoration:none;}
			
			/* Clear both sides to assist with div alignment  */
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

.testimonialsp {
}

/*media queries*/

@media screen and (max-width: 1330px) {

}

@media screen and (max-width: 1200px) {

	
}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:grey; text-decoration:none;font-size:1.4em;}


	div.c img {
	padding: 0%;
	bottom: 0;
	left:0;
	position:absolute;
	width: 100%;
	align-content: left;
	overflow: hidden;
}
	.homecontainer{
width:80%
	}
.packagegirl {max-width:300px; height:auto;
}
	

@media screen and (max-width: 1100px) {

	.header-inner { margin:0 auto; padding:0; width:95%;}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 40px; color:#382E2F; text-decoration:none;font-size:1.4em;}
	.homecontainer{

	}
	.toplogo { padding:0;}
	
		.whoarewetitle {font-size:9em;}
}

@media screen and (max-width: 1020px) {

	.header-inner { margin:0 auto; padding:0; width:95%;}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 40px; color:#382E2F; text-decoration:none;font-size:1.4em;}
	.homecontainer{
	width:95%;
	}
	
	.whoarewetitle {font-size:8.5em;}

}

@media screen and (max-width: 900px) {

	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 25px; color:#382E2F; text-decoration:none;font-size:1.4em;}
	.homecontainer{
	}
	
.header-inner {
    margin: 0;
    padding: 0;
	width: 100%;
}
	.box div.a, div.b, div.c { width:29%} 
	
	.toppad { padding:20px 10px 0 0;}
.headercontent{ width:90%}
	
	h1 {font-size:1.8em}
	
}


@media screen and (max-width: 800px) {
	.mobilelogo {display: block}

	.social {display:none;}
	
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:#382E2F; text-decoration:none;font-size:1.3em;}
	.homecontainer{
		width:100%;
	}
.header-inner {
    margin: 0 auto;
    padding: 0;
	}
	.headercontent {width:100%;}
	.toppad {float:left; padding-top:200px; padding-left:28%; padding-right:auto;}

	.whoarewetitle {font-size:8.5em;}
	
	h1 {font-size:1.6em}
	h2 {font-size:1em}
	
	.whoarewetitle {font-size:7.5em;}
	
	.sansfont { font-size:1em;}
	.wawtext {width:73%}
	.wawangel {width:20%}
	.wawangel img{height:100px; width:auto;}
	
	.toplogo {display:none;}
	/*burger menu */
	.burger {
		position: absolute;
		z-index: 9999;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  margin: 200px 5% 5% 48%;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width:30px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
		background-color:white;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
	transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
	 transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
	position:absolute;
	left:0;
	top:0;
	z-index: 9998;
	width:100%;
	height:200px;
  overflow:hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
	background-color:white;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
	
	/* Menu */
			.top-nav { margin:0 auto; padding:0px 0% 0% 0; height:10px; float:center; font-size:1.5em; font-weight: 300; width:100%;}
			.top-nav ul { list-style:none; padding:0; height:10px; float:center; width:100%;}
			.top-nav ul li { margin:0; padding:10px 0px 0px 0px; float:left; width:100%; text-align: center;}
			.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 0px; color:grey; text-decoration:none; width:100%;}
			.top-nav ul li.active a, .top-nav ul li a:hover { color:#4CB4BD;}
	

	/* end burgers :( */

	.topstylebutton { padding: 15% 5% 5% 22%;}
	.styleprofilebutton { padding: 0% 0% 0% 0%;}
	.header-inner { height:230px}
	.weelogomobile { position: absolute;
        top: 130px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.toppad {float:left; padding-top:10px; padding-left:23%; padding-right:auto;}
}

@media screen and (max-width: 450px) {
	
	.social {display:none;}
	.headercontent {width:100%;}
	.toppad {float:left; padding-top:10px; padding-left:10%; padding-right:auto;}
	.weelogomobile { position: absolute;
        top: 130px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.burger { position: absolute;
        top: 10px;
        left: 5%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.wawtext {float:left; width:100%; height:25px;}
	.wawangel {display:none;}
	.parallax div.a {font-size: 600%}
	.homecontainer {width:100%;}
	div.a img { max-height:200px}
	.box div.a {width:28%; height:50%;}
	.box div.b {width:28%; height:60%}
	.box div.c {width:28%; height:100%}
	h1 {font-size:.8em;}
	div.b .sansfont {font-size: .6em;}
	
	.column {flex-flow: column;}
	.box {flex-flow: column;
	}
	
	.getstarted { font-size: 1em;
}
	.homebackground {height:230px}
	
	.homebaby { max-height: 200px;}
	
	.box div.b { font-size: 1.7em;}
	.fullwidth h2 {font-size:1em;}
	.packagegirl2 {display:none;}

	.h2header { font-size:2.5em;}
.laptopimg { height: auto; width:100px;
}
	.createstylebutton { width:200px;}
	
	.getstarted {float: left; font-size:5em; width:100%; line-height: 60px}

}


