/* CSS Document */

/*slider overlay button*/
    .nivo-controlNav{
        display:none;
    }
    .nivo-prevNav{
        display:none;
    }
    .nivo-nextNav{
        display:none;
    }

    .overlay_wrap {
        position: absolute;
        bottom: 0;
        z-index: 9;
        text-align: center;
        width: 100%;
    }

    .slider_overlay {
        width: 50%;
        z-index: 10;
        margin: 0 auto;
        position: static;
        display: inline !important;
        margin-bottom: 15%;
        background-color: rgba(76, 180, 189, 0.65);
        border-radius: 50%;
    }

.hometable {display: table-cell; vertical-align: middle; width: 100%;}
.contactwrapper { width: 70%; margin: 0 auto;}
.contactbox { display:inline-flex;}
.contactfont { font-size: 2em;}
.sendblessingfont {font-size: 1.8em; font-weight: 600; text-align: center;}
.belessingimage {float:left;}
.floatleft {float:left;}	
.floatright {float:right}

/* Table imagegrid */
.lefttext {text-align: left;}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: none;
	display: table-cell;
	padding: 3px 10px;
	text-align: center;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.referral { width:60%;}
.videowrapper {    float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-top: 5px;
        margin: 0 auto;
	height:100%;

}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
}

.getstarted {float: left; font-size:5em; width:100%; line-height: 60px}

.jumpingkids {width: 100%; height:auto; padding-right:10%; padding-left:auto;
}

.h2header {font-size:7em}
.mobilelogo {display:none;}

.homebackground {height:380px}

.burger-check {display:none;}
    #list li {
display: inline;
margin: 10px;
text-align: center;
   }

#list a {
text-decoration: none;
color: green;
}

#list {
background-color: black;
width:  300px;
height: 25px;
border-radius: 5px;
}

#list a:active {
    color: blue;
}

.about {
word-wrap: break-word;
	font-size: 1.5em;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	color: #4CB4BD;
}
.about img { padding:10px;}
.about {padding: 0% 20%;}

img {
	padding: 0px;
}


.testimonials {
	width:80%;
	margin-left: 10%;
	margin-right: auto;
	float: left;
	
}

.faqheader {
	font-family: 'Amatic SC', cursive;
	font-size: 2.5em;
	color: #4CB4BD;
	padding-top: 5%;
}

.faqcontent {
	padding-left: 25%;
	padding-right: 25%;
}

.faqbullet {
	color:#97C65A;
}

.backtolist {
	text-align: center;
}

.headercontent{
	width:85%;
	padding-left:0%;
	padding-right:auto;
}

.toplogo {
	float:left;
	padding:1% 0% 0% 15%
}

.homebanner {
	width: 100%;
	align-content:center;
}

.whoarewetitle {
	font-family: 'Amatic SC', cursive;
	color: #4CB4BD;
	margin: auto 5px;
	width:50%;
	font-size: 9em; font-weight: 700; letter-spacing: 13px;
	text-align: right;
}

.testimonialtitle {
	font-size:7em;
	float: left;
	color:#4CB4BD;
	height:70px;
	padding-top:5%;
	font-weight: 700;
	letter-spacing: 9px;
}
.fullwidth {width:100%; text-align: center;}

.center{width: 100%; align-content: center;}

.whoarewelogo{float:left;width:50%;align-content: left;}

.styleprofilebutton{display: inline; padding-top:1%;}

.funfont {
	font-family: 'Amatic SC', cursive;

}

.whoarewe div.sansfont {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 35px;
	
}
.fifty {
	width: 50%;
}

.floater {
	float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}
.parallax { 
    background-image: url( images/test.jpg);
    min-height: 400px;
	min-width:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

	.background-image .parallax {
		min-width: 100%;
	}

/* flexboxes */
.box {
display:inline-block;
	width:100%;
	height:100%;
}


.parallax div.a {
	order:1;
	flex: 0 1 auto;
	align-self: auto;
	min-width:0;
	min-height:auto;
	font-family: 'Amatic SC', cursive;
	font-size: 11em;
	color: #97C65A;
	font-weight: bold;
	letter-spacing: 0.1em;
	flex-shrink: 0;
}

.box div.a {
	float:left;
	width:31%;
	position:relative;
	height: 100%;
	margin: 0 10px 0 10px;
	

}

.box div.b {
float:left;
	width:31%;
	font-family: 'Amatic SC', cursive;
	position: relative;
	font-size: 1.6em;
	line-height: 1.2;
	padding: 0% 0% 0% 0%;
	height: 100%;
	margin: 0 10px 0 10px;
}

.box div.c {
	float:left;
	width:31%;
	position: relative;
	height: 100%;
	margin: 0 10px 0 10px;
}

div.a img {
	padding-top: 13%;
	
}

div.b h1 {
	padding: 5%;
}

div.c img {
	padding: 0%;
	bottom: 0;
	left:0;
	position:absolute;
	width: 100%;
	align-content: left;
	overflow: hidden;
}

.homecontainer {width:70%; margin:auto; height:360px;}

.homeh2 div.h2 {
	font-family: 'Amatic SC', cursive;
}

.whoarewe {
	text-align: center;
	font-size: 2em;
	padding-bottom:5%
}

.formbgimage {background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/boybg.jpg);
  background-size: cover;
  width: 100%;
  height: 1000px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;}

.steptop { text-align: center; display:inline; color:white; font-size: 3em; line-height: 3; float:left;}

.hrborder {float:left;}

.formcontainer {
	float:left;
}
.boyformtitle {color:rgba(151, 198, 90, 1);}
.formtitle {text-align: center; font-size:6em; position:absolute; top:50%; left:50%; transform: translate(-50%, -500%); font-weight: 600;}

.formwhitebg {  border-radius: 25px; width:1200px; height:500px; background-color: white; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)}

.boyname {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);width: 50%;}

.boyname input.boysage, input.boysmonth{
	width: 25%
}

.boyname input.boysname { width:50%; }

.centertext {text-align: center}

.imagegrid {
	padding-bottom: 5%;
	width: 100%;
	height: auto;
	overflow: hidden;
	float:left;
}

.green {
	color:#97C65A;
}

.fiftyt{
	width:45%;
	float:left;
	padding:2.5%;
	line-height: 25px;
	font-weight: 700;
}

.rotateimage {
	width:40%;
	-ms-transform: rotate(-22deg); /* IE 9 */
    -webkit-transform: rotate(-22deg); /* Chrome, Safari, Opera */
    transform: rotate(-22deg);
	
}

.boycircle { border-radius: 100px; background-color:grey; height: 150px; position:absolute; top:25%; left:65%; transform: translate(-50%, -50%);width: 25%;
-webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
	cursor: pointer;}
.girlcircle { border-radius: 100px; background-color:grey;  height: 150px; position:absolute; top:25%; left:35%; transform: translate(-50%, -50%);width: 25%; -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
	cursor: pointer;
}
.girlcircle:hover {background-color:rgba(247, 171, 222, 1); transition: .5s ease;}
.boycircle:hover {background-color:  #4CB4BD; transition: .5s ease;}

.toppad{float:right; padding-top:3%; padding-right:2%}

.wawtext {width:65%; float:right; text-align: right;}
	.wawangel {min-width:24%; max-width:35%;}

			html, #page { padding:0; margin:0;}
			body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
			h1, h3, h4, h5, h6 {color:#4CB4BD;}
			h2 {color:white;}
			#page { background:#fff;}
			#header, #footer, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
			/* Logo */
			#logo { padding:0; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkred; text-decoration:none;}
			#logo h1 span { color:#4CB4BD;}

			/* Header */
			#header { background:#fff; }
			.header-inner { margin:0 auto; padding:0; width:100%;}
			
			/* Feature */
			.feature { background:red;padding:18px;}
			.feature-inner { margin:auto;width:970px; }
			.feature-inner h1 {color:top-nav#4CB4BD;font-size:32px;}
			
			/* Menu */
			.top-nav { margin:0 auto; padding:0px 15% 2% 0; height:10px; float:right; font-size:1.5em; font-weight: 300;}
			.top-nav ul { list-style:none; padding:0; height:10px; float:right;}
			.top-nav ul li { margin:0; padding:0 0px 0px 0px; float:left;}
			.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 40px; color:grey; text-decoration:none;}
			.top-nav ul li.active a, .top-nav ul li a:hover { color:#4CB4BD;}
			
			/* Content */
			#content-inner { margin:0 auto; padding:10px 0; width:100%;background:#fff;}
			#content #contentbar { margin:0; padding:0; float:right; width:760px;}
			#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
			#content #sidebar { padding:0; float:left; width:200px;}
			#content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
			#content #sidebar .widget h3 a { text-decoration:none;}
			#content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
			#content #sidebar .widget ul li { margin:0;}
			#content #sidebar .widget ul li { padding:4px 0; width:185px;}
			#content #sidebar .widget ul li a { color:red; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
			#content #sidebar .widget ul li a:hover { color:#f8dbdb; font-weight:bold; text-decoration:none;}
			
			
			/* Clear both sides to assist with div alignment  */
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

.footerb { float:left; text-align: center; vertical-align: center; clear:both; width:100%;
}
.footera { position: relative;
    float: left;
    min-height: 22px;
    line-height: 22px;
    font-family: Arial, Verdana;
    font-size: 12px;
    text-align: center;
	width:100%;
}
.footerc {text-align: center; color:white;float:left; width:100%;
}
.footera img {
    height: 40px;
    width: 40px;}
.footerbox { width:100%; display:inline-flex;}
.footercontainer {height:200px; width:100%;}
.footer {padding-top:10%}
.hiw {
}


.testimonialright{width:50%; float:right; padding: 5% 5% 0% 0%}
/*media queries*/

@media screen and (max-width: 1330px) {

}

@media screen and (max-width: 1200px) {

	
.whoweare img { width:55%; height:auto;
}

	.wawtext { font-size: 1em;}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:grey; text-decoration:none;font-size:1.1em;}


	div.c img {
	padding: 0%;
	bottom: 0;
	left:0;
	position:absolute;
	width: 100%;
	align-content: left;
	overflow: hidden;
}
	.homecontainer{
width:80%
	}
.packagegirl {max-width:300px; height:auto;
}
	
		.sigangel {display: none;}
}

@media screen and (max-width: 1100px) {
	
	.faqheader {font-size: 2em;}

	.header-inner { margin:0 auto; padding:0; width:95%;}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 30px; color:#382E2F; text-decoration:none;font-size:1.1em;}
	.homecontainer{

	}
	.toplogo { padding:0;}
	
		.whoarewetitle {font-size:8.5em; width: 90%;}
}

@media screen and (max-width: 1020px) {

	.header-inner { margin:0 auto; padding:0; width:95%;}
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:#382E2F; text-decoration:none;font-size:1.1em;}
	.homecontainer{
	width:95%;
	}
	
	.whoarewetitle {font-size:7.5em;}

}

@media screen and (max-width: 900px) {
	.wawtext {width:70%; float:right; font-size: .9em}
	
	.faqcontent {padding-left:5%;padding-right:5%;}

	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 15px; color:#382E2F; text-decoration:none;font-size:1em;}
	.homecontainer{
	}
	
.header-inner {
    margin: 0;
    padding: 0;
	width: 100%;
}
	.box div.a, div.b, div.c { width:29%} 
	
	.toppad { padding:20px 10px 0 0;}
.headercontent{ width:90%}
	
	h1 {font-size:1.8em}
	
	.testimonialtitle {font-size: 6em;}
	
}


@media screen and (max-width: 800px) {
	
	p.about { font-size: 1.3em;}
	
	h2.green{font-size:1.5em;}
	
	.faqanswer { font-size: 1.5em;}

	.sendblessingfont {font-size: 1.8em !important; font-weight: 600; text-align: center;}
	
	div.divTableCell img {width:90%}
	
	.fiftyt { width:100%}
	
	.mobilelogo {display: block}

	.social {display:none;}
	
	.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 20px; color:#382E2F; text-decoration:none;font-size:1.3em;}
	.homecontainer{
		width:100%;
	}
.header-inner {
    margin: 0 auto;
    padding: 0;
	}
	.testimonialtitle {font-size: 6em; line-height: 70px; padding-bottom:50px;}
	.headercontent {width:100%;}
	.toppad {float:left; padding-top:200px; padding-left:28%; padding-right:auto;}

	.whoarewetitle {font-size:4em;}
	
	h1 {font-size:1.6em}
	h2 {font-size:1em}
	
	.whoarewetitle {font-size:6.0em;}
	
	.sansfont { font-size:1em;}
	.wawtext {width:75%; font-size: 1em;}
	.wawangel {width:20%}
	.wawangel img{height:100px; width:auto;}
	
	.toplogo {display:none;}
	/*burger menu */
	.burger {
		position: absolute;
		z-index: 9999;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  margin: 247px 5% 5% 48%;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width:30px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
		background-color:white;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
	transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
	 transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
	position:absolute;
	left:0;
	top:0;
	z-index: 9998;
	width:100%;
	height:200px;
  overflow:hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
	background-color:white;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
	
	/* Menu */
			.top-nav { margin:0 auto; padding:0px 0% 0% 0; height:10px; float:center; font-size:1.5em; font-weight: 300; width:100%;}
			.top-nav ul { list-style:none; padding:0; height:10px; float:center; width:100%;}
			.top-nav ul li { margin:0; padding:10px 0px 0px 0px; float:left; width:100%; text-align: center;}
			.top-nav ul li a { display:block; margin:0; padding:0px 0px 0px 0px; color:grey; text-decoration:none; width:100%;}
			.top-nav ul li.active a, .top-nav ul li a:hover { color:#4CB4BD;}
	

	/* end burgers :( */

	.topstylebutton { position: absolute;
        top: 160px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.styleprofilebutton { padding: 0% 0% 0% 0%;}
	.header-inner { height:300px}
	.weelogomobile { position: absolute;
        top: 60px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	
	.toppad {float:left; padding-top:0px; padding-left:0%; padding-right:auto;}
	.parallax div.a {font-size: 700%}
}

@media (max-width: 680px){
	
	.faqheader {font-size: 2.1em;}
	
.contactwrapper { width: 90%; margin: 0 auto;}
	
.contactbox { display:inline-block;}
	.contactfont { font-size: 1.4em; text-align: center;}
	.about {padding: 0% 15%;}
	.packagegirl2 {display:none;
}
	.referral {width:100%;} 
	h2.h2header{line-height: 70px; font-size: 6em}
	span.whoarewetitle {font-size: 5em; padding-right:5%; padding-left:auto; letter-spacing: 10px;}
	
	.rotateimage { display:none;}
	.fiftyt {width:100%; padding:0;}
	.testimonialright {float:left;}
	.testimonialsp{width:100%;}
}


@media screen and (max-width: 450px) {
	
	.faqheader {font-size: 1.9em; line-height: 50px;}
	.footer {padding-top:100%}

	.about img{width:100%; height:auto;}
	.social {display:none;}
	.headercontent {width:100%;}
	.toppad {float:left; padding-top:0px; padding-left:0%; padding-right:auto; text-align: center;}
	.weelogomobile { position: absolute;
        top: 60px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.burger { position: absolute;
        top: 10px;
        left: 3%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	.wawtext {float:right; width:100%; height:20px;}
	.wawangel {display:none;}
	.parallax div.a {font-size: 5em;}
	.homecontainer {width:100%;}
	div.a img { max-height:200px}
	.box div.a {width:28%; height:100%;}
	.box div.b {width:28%; height:60%}
	.box div.c {width:28%; height:100%}
	h1 {font-size:.8em;}
	div.b .sansfont {font-size: .6em;}
	
	.column {flex-flow: column;}
	.box {flex-flow: column;
	}
	
	.getstarted { font-size: 1em;
}
	.homebackground {height:230px}
	
	.homebaby { max-height: 200px;}
	
	.box div.b { font-size: 1.7em;}
	.fullwidth h2 {font-size:5.5em;}
	.packagegirl2 {display:none;}

	.h2header { font-size:4.5em;}
.laptopimg { height: auto; width:100px;
}
	.createstylebutton { width:200px;}
	
	.getstarted {float: left; font-size:5em; width:100%; line-height: 60px}

	
.testimonialsimage {
max-width:300px; padding:0;
}
	
	.testimonials {
		font-size: .9em;
		width:85%; padding:1% 1% 1% 6%; margin:0}
	.fiftyt{
	width:100%;
	float:left;
	padding:0%;
	line-height: 25px;
	font-weight: 700;
}
	
	.rotateimage {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
		width:100%;
}
	
	.footerb { width:100%; text-align: center;
}
.footera { position: relative;
	
    font-family: Arial, Verdana;
    font-size: 12px;
    text-align: center;
  
    margin-right: 2px;
	width:100%;

}
.footerc {text-align: center; color:white; width:100%;  min-height: 50px;
}
.footera img {
    height: 40px;
    width: 40px;}
.footerbox { width:100%; display:block;}
.footercontainer {height:100px; width:100%;}
.footer {padding-top:10%}
	.number {width:90%}
	.sendblessingfont {font-size: 1.3em !important; font-weight: 600; text-align: center;}
.belessingimage {width:60%}
	span.whoarewetitle {font-size: 4.5em; padding-right:0%; padding-left:auto; letter-spacing: 10px; text-align: center;}
	div.wawtext {text-align: center;}
	.testimonialright{width:95%; float:right; padding: 5% 5% 0% 0%}
}

.c2 {text-align: center;
}
.b2 {text-align: center;
}
.testimonialsp { font-size: 1.5em
}

